
  <p class ="zipcode" >
    郵便番号：<%= @zipcode %>
  </p>
  <p class="address1 style">
    都道府県：<%= @address1 %>
  </p>
  <p class="address2 style">
    市区町村：<%= @address2 %>
  </p>
  <p class="address3 style">
    町域：<%= @address3 %>
  </p>
    <p class="address3 style">
    都道府県名カナ	：<%= @kana1 %>
  </p>
    <p class="address3 style">
    市区町村名カナ	：<%= @kana2 %>
  </p>
    <p class="address3 style">
    町域名カナ：<%= @kana3 %>
  </p>


<%# APIの練習(searchコントローラーのsearchアクションに対するビュー) %>
